@import url(https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap);

@media only screen and (min-width: 375px) {
    body {
        background-color: #0B2E4B;
        color: #FFFFFF;
        z-index: 1;
        top: 0;
        width: 375px;
        font-family: Playfair Display;
        padding: 0;
        margin: 0;
    }

    #body_container {
        padding: 0;
        margin: 0;
    }

    #body_container div {
        max-width: 375px;
    }


    header p {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 190%;
        display: inline;
        position: relative;
        left: 34px;
        top: 9px;
    }

    header p:nth-child(2) {
        color: #00C9E0;
    }

    #container_image_fond {
        background-image: url("ciel_étoilé.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        position: relative;
        top: 0;
        height: 1403.56px;
        width: 375px;
        z-index: 0;
    }

    .sous_titre {
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-top: 40px;
    }

    .p_h1 {
        position: absolute;
        width: 328px;
        height: 305px;
        left: 31px;
        top: 501px;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 150%;
        text-align: center;
        margin-top: 40px;
    }

    /*-----------------------------------------------------------------------*/
    /*..... DEBUT CORP PRINCIPAL .....*/

    #container_principal {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 1px;
        height: min-content;
        align-self: center;
    }

    .principal_bloc1 {
        grid-column: 1;
        grid-row: 1/5;
        height: 100px;
    }

    .principal_bloc2 {
        grid-column: 1;
        grid-row: 2/5;
        padding: 1px 25px;
    }


    .principal_bloc3 {
        grid-column: 1;
        grid-row: 3/5;
        padding: 1px 25px;
    }

    .principal_bloc4 {
        grid-column: 1;
        grid-row: 4/5;
    }

    .principal_bloc4 {
        grid-column: 1;
        grid-row: 5/5;

    }

    h1 {
        text-align: center;
        font-size: 100px;
    }

    h2 {
        text-align: center;
        font-size: 72px;
    }



    /*-----------------------------------------------------------------------*/

    /*------------------------- DEBUT SLIDER -------------------------*/

    .slider-container {
        max-width: 100%;
        position: relative;
        margin: auto;
        height: 300px;
        z-index: 0;
        top: 25px;
    }

    .fleche_slider {
        position: relative;
        left: 177px;
    }

    .texte_slider {
        position: relative;
        display: flex;
        flex-direction: column;
        top: -111px;
        width: 81px;
        justify-content: center;
        gap: 34px;
        border-right-style: ridge;
        border-color: #41EAD4;
        margin-left: 15px;
    }

    .texte_slider p {
        position: relative;
        display: flex;
        flex-direction: column;
        writing-mode: tb;
        font-family: 'ABeeZee';
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        line-height: 110%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #41EAD4;
    }

    .texte_label {}

    .fleche_slider label {
        background: #011627;
    }

    .menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 120;
        width: 10%;
    }

    .menu label {
        cursor: pointer;
        display: inline-block;
        margin: 0 0.1em 10px;
        width: 37.5px;
        height: 36px;
        margin: 0 0.1em 10px;
        box-shadow: -10px 14px 24px rgb(1 22 39 / 8%);
        transform: rotate(-90.7deg);
    }

    .menu label:hover,
    .menu label:focus {
        background: #1c87c9;
    }

    .input_button {
        visibility: hidden;
    }

    .slide-input {
        opacity: 0;
    }

    .slide-img {
        width: 166px;
        height: 259px;
        position: absolute;
        border-radius: 8px;
        left: 48%;
        transition: left 0s 0.10s;
    }

    [id^="slide"]:checked+.slide-img {
        z-index: 100;
        transition: left 0.01s ease-out;

    }

    /*-----------------------------------------------------------------------*/

    h1 {
        margin-bottom: 20px;
        font-weight: bold;
    }

    #bloc1 {}

    .texte1_slider h1 span {
        max-width: max-content;
        background-color: white;
    }


    /*--- BLOC PROFIL EXPERIENCE ---*/
    .profil_container {
        background-color: #02223B;
        width: 282px;
        height: 232px;
        left: 35px;
        box-shadow: 0px 20px 30px rgba(0, 201, 224, 0.03);
        border-radius: 5px;
        margin: 10px 30px;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .profil_container p {
        font-family: 'ABeeZee';
        font-style: italic;
        font-size: 18px;
        font-weight: 400;
        line-height: 190%;
    }

    /*--- BOUTON ---*/
    button {
        text-transform: uppercase;
        color: #FFFFFF;
        background: #00C9E0;
        box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
        border-radius: 183px;
        border-style: none;
        font-family: 'ABeeZee';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 190%;
        letter-spacing: 0.15em;
        position: relative;
    }

    .button_bloc2 {
        width: 170px;
        height: 62px;
        left: 97px;

    }

    .button_bloc3 {
        width: 211px;
        height: 62px;
        left: 78px;
    }

    /*---------------------------------------------------*/
    /*--- FOOTER ---*/

    #container_footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 10px;
        max-width: 375px;

    }

    .footer_bloc1 {
        grid-column: 1;
        grid-row: 1/5;
    }

    .footer_bloc2 {
        grid-column: 1;
        grid-row: 2/5;
    }

    .footer_bloc3 {
        grid-column: 1;
        grid-row: 3/5;
    }

    .footer_bloc4 {
        grid-column: 1;
        grid-row: 4/5;
    }

    .footer_bloc5 {
        grid-column: 1;
        grid-row: 5/5;
    }

    #container_footer div {
        text-align: center;
    }

    #container_footer p {
        font-family: 'ABeeZee';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        padding: 10px 20px;
    }

    #container_footer h3 {}

    #ligne {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .image_reserve {
        width: 166px;
        height: 259px;
    }
}